@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;font-family: 'DM Sans', sans-serif;
}

#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 30px;
    padding: 20px;
    height: 15%;
    width: 100%;
}

#logo {
    justify-content: flex-start;
}

#menu {
    margin-left: auto;
}

#content {
    display: flex;
    flex-direction: column;


    width: 100%;
    padding: 15px;
}

#tabletimg {
    margin: auto;
    width: 90%;
    padding: 10px;
}

#content h1 {
    font-weight: 700;
    margin: 10px 0;
}

#content p {
    color: #00000085;
    line-height: 1.5em;
    margin-bottom: 5px;
}

#startbtn {
    background-color: #2222b5;
    color: #fff;
    font-weight: 500;
    text-align: center;
    border: 1px solid #2222b5;
    border-radius: 7px;
    padding: 15px;
    margin: 10px 0 20px 0;
    width: 60%;
    cursor: pointer;
}

#startbtn span {
    font-weight: 300;
    color: #ffffff97;
}

#user-avatars {
    margin: 10px 0;
}

#user-avatars strong {
    color: #2222b5;
    font-weight: 700;
}

#mediaimg {
    margin: auto;
    width: 90%;
    padding: 10px 0;
    margin-bottom: 10px;
}

#content h2 {
    font-weight: 700;
    margin: 10px 0;
}

#content a {
    text-decoration: none;
    font-weight: 600;
    color: #2222b5;
    margin: 10px;
}

#phoneimg {
    margin: 15px 0 40px 0;
}

a#signin {
    margin-bottom: 100px;
}

h3 {
    font-weight: 700;
    margin: 10px 0;
}

p#bye {
    margin-top: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    width: 100%;
    padding: 15px;
    padding-bottom: 100px;
}

.fcontent {
    margin-bottom: 20px;
    width: 40%;
}

.fcontent h4 {
    margin-bottom: 10px;
}

.fcontent li {
    list-style-type: none;
    color: #00000085;
    margin-bottom: 5px;
}